---
interface Props {
  class?: string;
  size?: 'xs' | 'sm' | 'md' | 'lg';
  layout?: 'horizontal' | 'vertical';
  align?: 'center';
}

const { 
  class: className = '', 
  size = 'sm',
  layout = 'horizontal',
  align = 'text-center',
} = Astro.props;

const sizeClasses = {
  xs: 'w-4 h-4',
  sm: 'w-5 h-5',
  md: 'w-6 h-6',
  lg: 'w-8 h-8'
};

const paddingClasses = {
  xs: 'p-2',
  sm: 'p-2', 
  md: 'p-3',
  lg: 'p-3'
};

const gapClasses = {
  xs: 'gap-2',
  sm: 'gap-3',
  md: 'gap-4', 
  lg: 'gap-4'
};

const socialLinks = [
  {
    name: 'GitHub',
    url: 'https://github.com/davto-xyz',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
    </svg>`
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/david-torres-l%C3%B3pez/',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
    </svg>`
  },
  {
    name: 'Threads',
    url: 'https://www.threads.net/@davto.xyz',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12.186 24h-.007c-3.581-.024-6.334-1.205-8.184-3.509C2.35 18.44 1.5 15.586 1.472 12.01v-.017c.03-3.579.879-6.43 2.525-8.482C5.845 1.205 8.6.024 12.18 0h.014c2.746.02 5.043.725 6.826 2.098 1.677 1.29 2.858 3.13 3.509 5.467l-2.04.569c-1.104-3.96-3.898-5.984-8.304-6.015-2.91.022-5.11.936-6.54 2.717C4.307 6.504 3.616 8.914 3.591 12c.025 3.086.716 5.496 2.054 7.164 1.43 1.783 3.631 2.698 6.54 2.717 2.623-.02 4.358-.631 5.8-2.045 1.647-1.613 1.618-3.593 1.09-4.798-.34-.775-.95-1.416-1.76-1.874a7.627 7.627 0 0 1-.532 2.764c-.467 1.1-1.18 1.987-2.113 2.633-1.009.7-2.2 1.058-3.544 1.065h-.032c-1.63-.009-2.96-.586-3.844-1.67-.82-1.003-1.262-2.37-1.279-3.96.017-1.588.46-2.955 1.28-3.957.884-1.082 2.216-1.66 3.844-1.668h.032c1.635.009 2.953.57 3.822 1.626.39.473.697 1.026.919 1.645l-1.95.652c-.133-.442-.34-.828-.618-1.15-.527-.622-1.288-.945-2.21-.951h-.018c-.96.006-1.752.313-2.287.888-.563.593-.857 1.47-.869 2.605.012 1.128.306 2.004.869 2.597.535.575 1.328.882 2.287.888.725-.004 1.35-.187 1.86-.548.425-.297.748-.722.963-1.267.18-.456.28-.966.298-1.515-.023-.016-.048-.03-.07-.047l-.005-.003c-.643-.443-1.345-.483-1.932-.108-.396.255-.678.637-.8 1.074l-1.904-.598c.287-.956.886-1.756 1.718-2.292 1.095-.706 2.428-.755 3.664-.134l.01.005c.158.088.31.185.456.292l.012.008c.072.053.142.108.21.165l.068.056.088.078c.115.104.222.215.323.332l.004.005c.42.487.715 1.087.877 1.776.105.447.154.934.146 1.452.013.655-.064 1.294-.229 1.903-.315 1.127-.907 2.113-1.758 2.932-1.083 1.045-2.55 1.6-4.483 1.652h-.057c-1.833-.02-3.366-.533-4.558-1.524-1.288-1.066-2.035-2.641-2.22-4.68a12.4 12.4 0 0 1-.064-1.287c0-.438.022-.867.064-1.286.186-2.04.933-3.614 2.22-4.68 1.193-.99 2.726-1.504 4.56-1.524h.049c2.267.02 4.13.745 5.384 2.097.942 1.015 1.526 2.352 1.736 3.97.056.433.086.884.088 1.349.077-.078.153-.155.23-.23.623-.609 1.262-1.182 1.672-1.397l.52 1.892c-.365.26-.905.758-1.498 1.346a17.783 17.783 0 0 0-1.37 1.478c.023.351.03.71.022 1.075-.077 3.238-1.189 5.795-3.252 7.478C17.524 23.374 15.149 23.98 12.186 24z"/>
    </svg>`
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/davto.xyz/',
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
    </svg>`
  }
];
---

<div class={`flex items-center ${gapClasses[size]} ${className} ${align}`}>
  {socialLinks.map((social) => (
    <div class="border-3 border-gray-800 rounded-full transition-all duration-300 hover:scale-110 hover:border-gold-500">
      <a 
        href={social.url}
        target="_blank"
        rel="noopener noreferrer"
        class={`animate-icon group flex items-center justify-center ${paddingClasses[size]} text-black rounded-full bg-transparent hover:bg-gold-500 hover:text-amber-500 transition-all duration-300 shadow-lg hover:shadow-xl`}
        aria-label={`Visit ${social.name}`}
        title={social.name}
      >
        <div class={`${sizeClasses[size]} flex items-center justify-center`}>
          <Fragment set:html={social.icon} />
        </div>
      </a>
    </div>
  ))}
</div>